<h1><a href="/r/{{ comment.on_post.subreddit_parent }}/">{{ comment.on_post.subreddit_parent }}</a></h1>
<h3><a href="/u/comment.user_commented.username/">{{ comment.user_commented.username }}</a> commented on <a href="/post/{{ comment.on_post.id }}/">{{ comment.on_post.title }}</a></h3>
<p>{{ comment.content }}</p>
<p>{{ comment.dt_time }}</p>
<p>
    <a href="/upvote/comment/{{ comment.id }}/">Upvote</a>
    <a href="/downvote/comment/{{ comment.id }}/">Downvote</a>
    {{ comment.votes }}
</p>
<br>
{% for r in replies %}
    <h4><b>{{ r.user_commented }} replied</b></h4>
    <p>{{ r.content }}</p>
    <p>{{ r.dt_time }}</p>
    <p>
        <a href="/upvote/comment/{{ r.id }}/">Upvote</a>
        <a href="/downvote/comment/{{ r.id }}/">Downvote</a>
        {{ r.votes }}
    </p>
{% endfor %}